.OurStory {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.OurStory .OurStoryContainer {
  margin-top: 100px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.OurStory .OurStoryContainer img {
  height: 509px;
  width: 40%;
}
.OurStory .OurStoryContainer .txt {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.OurStory .OurStoryContainer .txt h2 {
  font-family: Inter;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 3.24px;
}
.OurStory .OurStoryContainer .txt p {
  width: 60%;
}

.e-commerce {
  display: flex;
  align-items: center;
  justify-content: center;
}
.e-commerce .e-commerceContainer {
  margin-top: 100px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.e-commerce .e-commerceContainer .col {
  transition: 0.5s;
  padding: 50px 90px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.e-commerce .e-commerceContainer .col span {
  transition: 0.5s;
  padding: 15px;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.e-commerce .e-commerceContainer .col span .icons {
  transition: 0.5s;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: black;
}
.e-commerce .e-commerceContainer .col span .icons svg {
  font-size: 40px;
}
.e-commerce .e-commerceContainer .col span .icons svg path {
  transition: 0.5s;
  fill: white;
}
.e-commerce .e-commerceContainer .col h2 {
  transition: 0.5s;
  margin-top: 15px;
  font-size: 32px;
}
.e-commerce .e-commerceContainer .col p {
  transition: 0.5s;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}
.e-commerce .e-commerceContainer .col:hover {
  border-color: #db4444;
  background-color: #db4444;
}
.e-commerce .e-commerceContainer .col:hover h2 {
  color: white;
}
.e-commerce .e-commerceContainer .col:hover p {
  color: white;
}
.e-commerce .e-commerceContainer .col:hover span {
  background-color: #dd5e5e;
}
.e-commerce .e-commerceContainer .col:hover span .icons {
  background-color: white;
}
.e-commerce .e-commerceContainer .col:hover span .icons svg path {
  fill: rgb(0, 0, 0);
}

.OurPersonals {
  display: flex;
  align-items: center;
  justify-content: center;
}
.OurPersonals .OurPersonalsContainer {
  margin-top: 100px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.OurPersonals .mySwiper .swiper-pagination-bullet {
  background-color: #d9d9d9;
  height: 20px;
  width: 20px;
}
.OurPersonals .mySwiper .swiper-pagination-bullet-active {
  border: 5px solid #db4444;
  background-color: white;
}
.OurPersonals .mySwiper .slide {
  margin-bottom: 100px;
}
.OurPersonals .mySwiper .slide img {
  width: 400px;
  height: 400px;
}
.OurPersonals .mySwiper .slide h2 {
  margin-top: 15px;
  font-size: 32px;
}
.OurPersonals .mySwiper .slide p {
  margin-top: 20px;
}
.OurPersonals .mySwiper .slide .socialMediaLogos {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 30px;
}
.OurPersonals .mySwiper .slide .socialMediaLogos svg {
  font-size: 24px;
}/*# sourceMappingURL=About.css.map */