header {
  display: flex;
  align-items: center;
  justify-content: center;
  .headerСontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    .headerSubmenu {
      border-right: 1px solid #d9d9d9;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 30px;
      padding-left: 0;

      li {
        list-style-type: none;
        font-family: "Poppins";
        font-size: 24px;
      }
    }
    .headerSwipper {
      .mySwiper {
          height: 345px;
        width: 890px;
        .swiper-pagination-bullet {
          background-color: #d9d9d9;

          height: 12px;
          width: 12px;
        }
        .swiper-pagination-bullet-active {
          border: 2px solid white;
          background-color: #db4444;
        }
        .col {
          background-color: black;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-left: 100px;
          padding-right: 25px;
          .swiperLeft {
            .swiperLeftTop {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 20px;
              margin-bottom: 20px;
              img {
                height: 49px;
                width: 49px;
              }
              p {
                color: white;
                text-align: center;
                font-family: "Poppins";
              }
            }
            .swiperLeftMiddle {
              a {
                margin-top: 20px;
                color: white;
                display: flex;
                align-items: center;
                gap: 5px;
              }
            }
          }
          .swiperRight {
            height: 352px;
            width: 496px;
            position: relative;
            left: 25px;
          }
        }
      }
    }
  }
}
